  * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
  }
  body{
background:url(https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg);
background-attachment: fixed;
 background-repeat: no-repeat; 
  background-size:cover; 
}
  .container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     
  }
     .box {
         width:500px;
         background-color: white;
         height: 500px;
            padding: 20px;
     }
          label {
            display: flex;
            justify-content: space-between;
             font-size: 18px;
             gap: 5px;
             color: black;
             margin-top: 8px ;
             font-family: Verdana, Geneva, Tahoma, sans-serif;
          }
           input {
            
            
             width:90%;
             font-size: 12px;
             margin: auto;
             margin-bottom: 20px;
             text-align: left;
             padding:5px 10px 15px 10px;
            outline: none;
            border: none;
             border-bottom: 2px solid black;
           }
       
  input[type = submit] {
background-color:black;
display: grid;
justify-content: center;
color:white;
padding:5px;
width:50%;
height:50px;
text-align:center;
text-decoration:none;
 margin: 4px auto;
 border-radius: 5px;
}
 input[type = submit]:hover {
border-radius:20px;
background-color:white;
color:black;
text-transform:uppercase;
}
  h1 {
    padding: 10px;
    margin-top: 5px;
     text-align: center;
   
    height: auto;
 animation : color 4s linear infinite;
  font-size: 30px;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
 @keyframes color {
   0% {color:white;}
   25% { color:blue;}
 50% {color:yellow;}
 75% {color:red;}
100%{color:white;}
 }
         @media(max-width:600px) {
           .box {
            width:80%;
            height: 450px;

           }
           label{
            font-size: 15px;
           }
         }
    
          @media(orientation:landscape)  and (max-height:650px) {
            .box {
               height: auto;
               padding: auto;
              
            }
            .container {
              margin-top: 20px;
            }
            label  {
              padding: auto;
              margin: auto;
            }
            input {
              margin:  10px auto;
              padding: auto;
            }
            h1 {
              padding: auto;
              margin: auto;
            }
          }