  * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
  }
  body{
background-color:black;

  
   
}
  .container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 90vh;
  }
     .box {
         width:450px;
         background-color: white;
         height: 500px;
            padding: 20px;
     }
          label {
            display: flex;
            justify-content: space-between;
             font-size: 25px;
             gap: 5px;
             color: black;
             margin-top: 5px;
          }
           input {
             width:90%;
             font-size: 17px;
             margin: 2px auto 20px auto;
             text-align: left;
             padding:10px 20px;
            
             border-bottom: 2px solid black;
           }
       
  input[type = submit] {
background-color:black;
color:white;
padding:5px;
width:380px;
height:50px;
text-align:center;
text-decoration:none;
 margin: 4px auto;
 border-radius: 5px;
}
 input[type = submit]:hover {
border-radius:20px;
background-color:white;
color:black;
text-transform:uppercase;
}
  h1 {
    padding: 20px;
    margin-top: 20px;
     text-align: center;
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 3vh;
 animation : color 4s linear infinite;
  font-size: 40px;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 @keyframes color {
   0% {color:white;}
   25% { color:blue;}
 50% {color:yellow;}
 75% {color:red;}
100%{color:white;}
 }
  @media (max-width:600px) {
    .box {
  width:90vw;
      margin:5px auto;
    }
   input {
             width:90%;
             font-size: 10px;
             margin: 2px auto 20px auto;
             text-align: left;
             padding:10px;
            
             border-bottom: 2px solid black;
           }
       
  input[type = submit] {
background-color:black;
color:white;
padding:5px;
width:80%;
height:50px;
text-align:center;
text-decoration:none;
 margin: 4px auto;
 border-radius: 5px;
}
  }
