* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
     background-image: url(https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28313.jpg?w=360);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
}

  .content {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 70vh;
    color:white;
    gap: 30px;
    width: 90vw;
    margin: 5px auto;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
  }
  .content button {
     width:300px;
     padding: 20px;
     margin: 5px;
     text-align: center;
     background-color:lightgreen;
     border-radius: 20px;
     font-size: 20px;
  }
  .content button:hover {
    background-color: white;
    color: black;
  }

.desc {
    padding: 20px;
    margin-top: 20px;
     text-align: center;
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 20vh;
 animation : color 4s linear infinite;
  font-size: 50px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 @keyframes color {
   0% {color:white;}
   25% { color:blue;}
 50% {color:yellow;}
 75% {color:red;}
100%{color:white;}
 }
