* {
    box-sizing: border-box;
     padding:0;
      margin: 0;
}
 body {
   width: 100%;
   overflow-x: hidden;
 }
  .translate {
    transform: translateX(0);
  }
    .fixed {
      position: fixed;
      top:0;
        box-sizing: border-box;
width:100%;
    }
    #shop {
       
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 30px;
    
      padding:5px ;
        
    }
     .quantity {
       position: absolute;
       top:0;
       right:0;
       margin: 2px;
       margin-top: 22px;
       width:30px;
       text-align: center;
       font-size: 20px;
       background-color: goldenrod;
       color: white;
       border-radius: 50%;
       padding: 2px;
     }
    .cart {
      width:400px;
       position: fixed;
        background-color:white;
         padding: 20px;
         right: 0;
         top:0;
         z-index: 100;
    height: 100%;
     overflow-y: scroll;
     overflow-x: hidden;
      transform: translateX(100%);
      transition: all 0.5s linear;
     }
     #cartbox img {
      width:100px;
      height: 100px;
      object-fit: cover;
      box-shadow: 0 0 5px grey;
      margin: 1px;
      
  }
     .cartcontent {
      display:grid;
       grid-template-columns: 20% 80% 10%;
       gap:2px;
       margin: 2px;
        align-items: center;
        
     
    }
       .cart h1 {
         text-align: center;
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          font-weight: bold;
           font-size: 20px;
           margin: 10px;
       }
         .cart #buys {
             width:150px;
              padding: 10px 15px; 
               text-align: center;
                margin:7px;
                background-color: rgb(235,100,45) ;
                 color: white;
                 border-radius: 10px;
                 font-size: 25px;
         }
           #buys:hover {
             color: black;
             background-color: white;
           }
            .btnsnum {
              display:grid;
                justify-content:space-evenly;
              font-size: 24px;
              
            }
            
             .fa-trash  {
               text-align: center;
               color: red;
             }
            #buysbtn {
               text-align: center;
            }
             .cart .price {
               text-align: center;
                margin: 4px;

             }
              .detail {
                display: grid;
                row-gap: 3px;

              }
             .detail  .name {
              margin: 5px;
               text-align: center;
               font-size: 15px;
               font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
             }
          .producttext {
             text-align: center;
             font-size: 24px;
             color:red;
              margin-top: 18px;
              font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
       .closecart  {
        position: fixed;
         top:0;
          left:0;
          font-size: 35px;
           color: black;
           margin-bottom: 20px;
           font-weight: bold;
       }
         .closecart:hover {
           background-color: red;
           width: 40px;
           text-align: center;
         }
          .cart .total {
             display: grid;
             justify-content: end;
             border-top: 1px solid black;
             font-size: 30px;
             gap:8px;
             font-weight: bold;
          }
     nav {
         background-color:white;
          box-shadow: 0 0 5px lightgrey;
           font-size: 20px;
           color:black;
           padding: 10px 2px;
             height: 10vh;
          z-index: 10;
          width:100%;  
         
     }
      nav p {
       float: left;
        text-align: center;
         font-size: large;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
           margin: 3px;
            
      }
       nav ul {
          display: flex;
           justify-content: center;
           align-items: center;
           list-style: none;

       }
        nav li {
         
           padding: 10px 14px;
           margin: 8px;
            text-align: center;
             font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
          nav li a {
            text-decoration: none;
            color: black;
          }
          nav li a:hover {
             border-bottom: 2px solid blue;
          }
           .overlay {
              width:100%;
              height: 100%;
              position: fixed;
              top:0;
              left: 0;
               background-color: bisque;
               opacity: 0.7;
               z-index: 20;
            visibility: hidden;
           }
          .input {
            display: flex; 
            justify-content: center;
             align-items: center;
             gap:1px;
            margin-top: 12vh;
         width:100%;
              
          }
             .input input {
               border: 2px solid  rgb(200,123,66);
                border-radius: 20px;
                  color:black;
                  font-size: 20px;
                   width:50%;
                     padding: 10px;
                     margin: 0 9px;
                  
             }
         
             .search {
                
                 width:25%;
                 padding:  18px;
                  border-radius: 20px;
                  margin: 2px;
                  background-color:#12a5ca;
                  color: white;
                 text-align:center;
             }
             .search:hover {
                background-color: white;
                color:blue;
                 outline:none;
             }
               .filter {
                height: 10vh;
                margin-top: 4px;
                 margin-bottom: 20px;
                 font-size: 17px;
                 font-family: 'Times New Roman', Times, serif;
                 padding: 10px 8px;
                 

               }
               .filter ul {
                display: flex;
                 justify-content: center;
                 align-items: center;
                 list-style: none;
             }
             .filter li {
                padding: 10px 8px;
                margin: 18px;
                 text-align: center;
                
             }
             .filter li:hover{
                border-bottom: 2px solid blue;
             }
             #product {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                 row-gap:2px;
                 column-gap: 1.5rem; 
                width:90vw;
             
                box-shadow: 0 0 5px lightgrey;
                 padding: 2px;
                 margin: 0 auto;
                 text-align: center;
              }
                 
               #product button:hover {
                  background-color: white;
                color:blue;  
               }
               
              #product img {
                  width:400px;
                   object-fit: contain;
                   height:200px;
                  
               }
     .boxbtns {
         width:40%;
          border-radius: 20px;
          margin:2px auto;
           padding:15px 20px;
            background-color:rgb(100,2,215);
            color: white;

     }  
     .price {
        font-size: 20px;
        font-weight: bold;
     }    
       .title {
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size:18px ;
           
       } 
        #bars {
          display: none;
        }    
        .display {
          transform: translateX(-100%);
        }

       @media (max-width:830px) {
           .quantity {
   margin-top:18px;
           }
       nav ul {
        display: none;
        }
         nav p {
          float: none;
           display: flex;
           justify-content: center;
         }
          .input input {
            width:350px;
            margin: 0 0 0 7px;
          }
             #bars {
               
                display: block;
                 position: absolute;
                 bottom:0;
                 left: 0;
                 
                 margin: 5px;
                   font-size: 30px;
                   font-weight: bold;
              
             }

             .display {
              transform: translateX(-100%);
              text-align: center;
                    
              width:80%;
              position: fixed;
               background-color:white;
                padding: 20px;
                left: 0;
                top:0;
                z-index: 20;
           height: 100%;
            overflow-y: hidden;
            overflow-x: hidden;
               background-color:black;
             transition: 0.5s linear;

            }
              .display li  {
                 
                  text-align: center;
                   margin: 22px 0;
                     color:white;
                     font-size: 30px;
                      padding: 20px 42px;
                      list-style: none; 
              }
              .display li a{
                 text-decoration: none;
                  color: white;
               }

               .display li a:hover {
                   border-bottom: 2px solid  blue;
                   color: blue;
               }
               .closecarts {
                position:fixed;
                top:0;
                 left: 0;
                 font-size: 30px;
                 font-weight: bold;
                 margin: 8px;
                 color: white;
                 
              }
              .closecarts:hover {
                background-color: red;
                width: 40px;
                text-align: center;
              }
           #product img {
     width:200px;
       }

       }

 @media(max-width:550px) {
               .cart {
               width:99%;
           }
      #product {
                display: grid;
                grid-template-columns: auto;
                 row-gap:2px;
                 column-gap: 1.5rem; 
                width:90vw;
             
                box-shadow: 0 0 5px lightgrey;
                 padding: 2px;
                 margin: 0 auto;
                 text-align: center;
              }
              .input input { 
                  width:60%;
 }
     
               .cartcontent {
      display:grid;
       grid-template-columns: 20% 80% 10%;
       gap:0.5px;
       
       margin: 2px;
        align-items: center;

               }
 }
      
          
