* {
    box-sizing: border-box;
     padding:0;
      margin: 0;

}
   body {
    overflow-x: hidden;
   }
nav {
    background-color: black;
     box-shadow: 0 0 5px lightgrey;
      font-size: 20px;
      color:white;
       padding: 20px 14px;
        height: auto;
        z-index: 10;
      
}
.navbox {
     background-color: black;
     width: 100%;
     overflow: hidden;
}
 nav p {
  float: left;
   text-align: center;
    font-size: large;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin: 0 3px;
 }
  nav ul {
     display: flex;
      justify-content: end;
      align-items: center;
      list-style: none;
  }
   nav li {
      padding: 10px 14px;
      margin: auto 8px;
       text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
    nav li a {
       text-decoration: none;
       color: white;
    }
   nav li a:hover {
       color:blue;
       border-bottom: 1px solid black;
    }
    .display {
        transform: translateX(100%);
        display: none;
 

        }
         #bars {
          display: none;
         }
           .searchbox {
            display: -webkit-box;
            display: -webkit-flex;
             display: flex;
             justify-content: center;
             gap: 10px;
             background-color: black;
             padding: 20px;
           }
             .searchbox input {
                width:70%;
                padding:10px;
                border: none;
                outline: none;
             }
               .searchbox button {
                 width:20%;
                 background-color: white;
                 padding: 10px auto;
                 color: black;
                 font-size: 20px;
                 font-family: Verdana, Geneva, Tahoma, sans-serif;
               }
               .searchbox button:hover {
                background-color: black;
                color: white;
               }
                .filter  {
                     background-color: black;
                     padding: 20px;
                     color: white;
                }

                   .filter ul {
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     
                     list-style: none;
                   }
                    .filter p, li  {
                        padding: 10px 14px;
                        margin: auto;
                         text-align: center;
                          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }
                    .filter li:hover {
                         border-bottom: 1px solid white;
                         color: red;
                
                    }
                    .filter p:hover {
                      border-bottom: 1px solid white;
                      color: red;
             
                 }
                      #shop {
                         display: grid;
                         justify-content: end;
                         font-size: 30px;
                         color: white;
                          padding: 0 5px ;
                      }
                      .boxslide {
        
                        box-shadow: 0 0 5px lightgrey; 
                        display: flex;
                          border:2px solid white;
                          border-radius: 20px;
                          width:96%;
                          background-color:white;
                          overflow-x: scroll;
                          margin: auto 10px; 
                          padding: 10px; 
                        }
                        .product {
                          display: grid;
                          grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                           row-gap:20px;
                           column-gap: 1.5rem; 
                          width:90vw;
                        justify-content: center;
                          box-shadow: 0 0 5px lightgrey;
                           padding: 2px;
                           padding-top: 20px;
                           margin: 0 auto;
                           text-align: center;
                           height: auto;
                        }
                           
                         .product button:hover {
                            background-color: white;
                          color:blue;  
                         }
                         
                        .box img {
                          display: block;
                          margin: auto;
                            width:300px;
                             object-fit: contain;
                             height:200px;
                        }
                        .boxbtns {
                          width:40%;
                           border-radius: 20px;
                           margin:2px auto;
                            padding:10px 20px;
                             background-color:black;
                             color: white;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                      } 
                       .box {
                         padding: 20px;
                         display: grid;
                         justify-content: center;
                       }
                        .box .price {
                           font-size: 20px;
                        } 
                         .box .title {
                           font-size: 20px;
                           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                         }
                         .cart {
                          width:450px;
                           position: fixed;
                            background-color:white;
                             padding: 20px;
                            
                             right: 0;
                             top:0;
                             z-index: 100;
                        height: 100%;
                         overflow-y: scroll;
                         overflow-x: hidden;
                          transform: translateX(100%);
                          transition: all 0.5s linear;
                         }
                         .cartbox img {
                          width:100px;
                          height: 100px;
                          object-fit:fill;
                          box-shadow: 0 0 5px grey;
                          margin: 3px;
                          
                      }
                         .cartcontent {
                          display:grid;
                           grid-template-columns: 20% 80% 20%;
                           gap:2px;
                           margin: 5px;
                            align-items: center;
                            
                         
                        }
                           .cart h1 {
                             text-align: center;
                              font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                              font-weight: bold;
                               font-size: 20px;
                               margin: 20px;
                           }
                             .cart #buys {
                                 width:150px;
                                  padding: 8px 15px; 
                                   text-align: center;
                                    margin:7px;
                                    background-color: rgb(255,100,34);
                                     color: white;
                                     border-radius: 10px;
                                     font-size: 25px;
                             }
                               #buys:hover {
                                 color: black;
                                 background-color: white;
                               }
                                .btnsnum {
                                  
                                  font-size: 24px;
                                  
                                }
                                  .quantities {
                                     display: grid;
                                     justify-content: center;
                                  }
                                   .quantity {
                                    width:100px;
                                    padding:12px;
                                    margin: 5px;
                                    font-size: 20px;
                                   }
                                
                                 .fa-trash  {
                                   text-align: center;
                                   color: red;
                                   padding-right: 10px;
                                   margin-right: 20px;
                                
                                 }
                                  .clear {
                                   
                                    text-align: center;
                                    width:150px;
                                    padding: 8px 15px; 
                                     text-align: center;
                                      margin:7px;
                                      background-color:rgb(255,100,34);
                                       color: white;
                                       border-radius: 10px;
                                       font-size: 25px;
                                  }
                                  .clear:hover {
                                    color: black;
                                    background-color: white;
                                  }
                                 #buysbtn {
                                  text-align: center;

                                 }
                                 .cart .price {
                                   text-align: center;
                                    margin: 4px;
                    
                                 }
                                  .detail {
                                    display: grid;
                                    row-gap: 3px;
                    
                                  }
                                 .detail  .name {
                                  margin: 5px;
                                   text-align: center;
                                   font-size: 15px;
                                   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
                                 }
                              .producttext {
                                 text-align: center;
                                 font-size: 15px;
                                 color:black;
                                  margin: 18px auto;
                                  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                              }
                              .overlay {
                                width:100%;
                                height: 100%;
                                position: fixed;
                                top:0;
                                left: 0;
                                 background-color: bisque;
                                 opacity: 0.7;
                                 z-index: 20;
                              visibility: hidden;
                             }
                           .closecarts  {
                            position: fixed;
                             top:0;
                              left:0;
                              font-size: 35px;
                               color: black;
                               margin-bottom: 20px;
                               font-weight: bold;
                           }
                             .closecarts:hover {
                               background-color: red;
                               width: 40px;
                               text-align: center;
                             }
                              .cart .total {
                                 
                                 display: -webkit-box;
                                 display: -webkit-flex;
                                 display: flex;
                                 justify-content: flex-end;
                                 border-top: 1px solid black;
                                 font-size: 30px;
                                 gap: 10px;
                                 font-weight: bold;
                              }
                              .modal {
                                 display: none;
                              }
         @media(max-width:700px) {
            nav {
                margin: 0;
                padding: auto;
                height: 10vh;
              }
                  nav ul {
                    display:none;
                  }

            .display {
                display: block;
                 transform: translateX(100%);
                 text-align: center;
                       
                 width:70%;
                 position: fixed;
                  background-color:white;
                   padding: 20px;
                   right: 0;
                   top:0;
                   z-index: 20;
              height: 100%;
               overflow-y: hidden;
               overflow-x: hidden;
               
              
                transition: 0.5s linear;

               }
                 .display li  {
                    
                     text-align: center;
                      margin: 22px 0;
                        color:black;
                        font-size: 20px;
                         padding: 10px 12px;
                         list-style: none; 
                 }
                 .display li a{
                    text-decoration: none;
                     color: black;
                  }

                  .display li a:hover {
                      border-bottom: 2px solid  blue;
                      color: blue;
                  }
             
                

                       
                     #bars {
                       display: block;
                        position: absolute;
                        top:0;
                    right: 0;
                
                        margin:10px;
                        color:white;
                          font-size: 30px;
                          font-weight: bold;
                     }
                       .closecart {
                        position:fixed;
                        top:0;
                         right: 0;
                         font-size: 30px;
                         font-weight: bold;
                         margin: 4px;
                         
                      }
                      .closecart:hover {
                        background-color: red;
                        width: 40px;
                        text-align: center;
                      }
                      #product {
                        grid-template-columns: auto;
                  
                      }
                      .box img {
                      display: block;
                      margin: auto;
                        width:70%;
                        object-fit: cover;
                       height: 150px;
                      }
                  
                    }
                       @media(max-width:550px) {
                        .filter ul {
                          display: none;
                      }
                      .cart {
                        width:96%;
                      }
                      .modal {
                        display: block;
                         display: flex;
                         justify-content: start;
                         gap:5px;
                         padding: 10px;
                      }
                      #bar {
                        color:white;
                      }
                      .modal .text {
                        color: white;
                        position: relative;
                        display: inline-block;
                      }
                        .modal  .modals {
                           display: none;
                           position: absolute;
                            min-width: 200px;
                            background-color: #f9f9f9;
                            padding: 12px 16px;
                             color: black;
                             z-index: 10;
                             list-style: none;
                           padding: 20px;
                           margin-top: 15px;
                        }
                         .modal ul {
                          list-style: none;
                          padding: 10px;
                          font-family: Verdana, Geneva, Tahoma, sans-serif;
                         }
                        .modals p {
                          text-align: center;
                        }
                         .modal li:hover {
                          border-bottom: 1px solid blue;
                          color: red;
                         }
                         .modals p:hover {
                          border-bottom: 1px solid blue;
                          color: red;
                         }
                          
                        .close {
                           font-size: 30px;
                          position: absolute;
                          top:0;
                          right: 0;
                          padding-bottom: 20px;
                        }
                        .close:hover {
                          background-color: red;
                          width: 25px;
                          text-align: center;
                        }
                       .cartbox img {
                         width:70px;
                       }
                       .producttext {
                        font-size: 12px;
                       }
                       .searchbox button {
                        
                        width: 30%;
                       }
                             .box img {
                      display: block;
                      margin: auto;
                        width:50%;
                        object-fit: cover;
                       height: 150px;
                      }
                       }
         
         
