* {
     box-sizing: border-box;
      padding:0;
       margin: 0;

}
 body {
   width: 100%;
   overflow-x: hidden;
   background-color: wheat;

 }
      nav {
          background-color: wheat;
           box-shadow: 0 0 5px lightgrey;
            font-size: 20px;
            color:black;
             padding: 20px 14px;
              height: auto;
              z-index: 10;
            
      }
       nav p {
        float: left;
         text-align: center;
          font-size: large;
           font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin: 0 3px;
             
       }
        nav ul {
           display: flex;
            justify-content: end;
            align-items: center;
            list-style: none;
        }
         nav li {
            padding: 10px 14px;
            margin: 1px 8px;
             text-align: center;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         }
          nav li a {
             text-decoration: none;
             color: black;
          }
         nav li a:hover {
             color:blue;
             border-bottom: 1px solid black;
          }
        .container {
           background-color: wheat;
            width:100%;
            padding:2px;
             height: 90vh;
             display: grid;
             grid-template-columns: auto auto;
           /* overflow-y: scroll; */
        }
         

          .content {
             /*  position: absolute;
                top:50%;
                left: 70%;
                transform: translate(-50%,-70%);
              */
              display: grid;
              place-content: center;
              margin: 24px;
            
          
          }
            .container img {
                display: flex;
                justify-content: end;
                align-items: center;
                height: 450px;
                width:500px;
                object-fit: cover;
            display: block;
            margin: auto;
            }
          .content button {
                background-color:goldenrod;
                color: black;
                width:200px;
                height: auto;
                border-radius: 20px;
                padding: 20px;
                margin: 4px;
                text-align: center;
          }
            .content button:hover {
                  background-color: white;
                  color:black;
            }
          .content p {
                font-size: 20px;
                font-weight: bold;
                margin: 5px;

                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }

         
           .slidecontainer {
            
                 height: auto; 
           }
             .slidecontainer h1 {
              padding: 10px;
              
               margin:0 0 1px 0;
                text-align: center;
                color: red;
                margin-bottom: 1px;
                background-color: white;
             }
             #move {
               display: flex;
                transform: translate(0%);
                  transition:all 0.5s linear;
                  width: 100%;
          }

          .boxslide {
               border:2px solid white;
               border-radius: 5%;
               width:100%;
               background-color:white;
               overflow: hidden;
                 
             }
            .boxslide img {
                   width:50%;
                    object-fit:cover;
                     height:200px;
                     border: 1px solid black;
                     
              }
              #about {
                background-color:wheat;
               padding: 10px;
               transition: 0.5s linear;
              }
               .des   {
                     text-align: center;
                     
                     font-size:10px;
                     color:black;
                     margin: 14px;
                     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
               }
               
                .what {
                   color: black;
                  display: grid;
               grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
               gap: 1px;
            row-gap: 20px;
              font-size: larger;
                 column-gap: 1.5rem; 
                width:90vw;
                margin: 4px auto;
                
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }
                .what h1 {
                  margin: 14px;
                  text-align: center;
                  font-size: 17px;
                } 
                 #contacts {
                  background-color:wheat;
                  padding: 10px;
                  transition: 0.5s linear;
                  text-align: center;
                 }
                 .des1 {
                  font-size: 20px;
                  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                 }
                 .contactgrid {
                  color: black;
                  display: grid;
               grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
               gap: 1px;
            row-gap: 20px;
                 column-gap: 1.5rem; 
                width:90vw;
                margin: 4px auto;
                font-size: larger;
                font-family:Georgia, 'Times New Roman', Times, serif;
                text-align: center;
                 }
                  .contactgrid h1 {
                     margin: 14px;
                     text-align: center;
                     font-size:17px;
                  }
                   .form h1 {
                     text-align: center;
                     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
                     padding: 10px;
                      font-size: 20px;
               margin-top: 5px 0;
                   }
                       
                   .inputcontainer {
                     display: flex;
                     justify-content: center;
                     margin:5px;
                   }
                    .inputbox {
                      width:450px;
                      height: auto;
                      margin: 5px;
                      text-align: center;
                      background-color: wheat;
                      padding: 20px;
                    }
                             textarea {
                               width:95%;
                               height:150px ;
                               padding: 20px;
                               margin: 5px;
                              font-size: 20px;
                              background-color: wheat;
                             }
                     label {
                           display:flex;
                           justify-content: start;
                            font-size: 18px;
                            font-family: Arial, Helvetica, sans-serif;
                            margin: 5px 8px;
                     }
                       .inputbox input {
                         width:95%;
                          margin: 0 auto 14px auto;
                          font-size: 15px;
                          outline: none;
                          border: none;
                          background-color: wheat;
                          border-bottom: 2px solid black;
                          color:black;
                       }
                        input[type=submit] {
                         
                           display: flex;
                           justify-content: center;
                           width:50%;
                           color:white;
                           border-radius: 10px;
                           padding: 10px 12px;
                           margin: 5px auto;
                           background-color: black;
                        }
                        input[type=submit]:hover {
                           background-color: white;
                           color: black;
                           border-radius: 18px;
                        }
                   .display {
                   transform: translateX(100%);
                   display: none;
            
         
                   }
                    #bars {
                     display: none;
                    }
                     .newsletter {
                       background-color:black;
                      color: white;
                       padding: 20px 4px;
                       box-sizing: border-box;
                     }
                       .newsletter h1 {
                         text-align: center;
                         font-family: cursive;
                         font-size: 20px;
                       }
                        .newsletter input {
                           width:80%;
                    padding: 2px;
                    margin: 10px;

                        }
                        .newsletter button {
                          font-size: 17px;
                           width:20%;
                            padding:18px 8px;
                            text-align: center;
                            background-color: red;
                            color:white;
                            border-radius: 20px;
                        }
                        .newsletter button:hover {
                         background-color: white;
                         color: red;
                        }
                    .space {
                      display: flex;

                       width:100%;
                    }
            @media  (max-width:1070px) {
               .container {
                  background-color: wheat;
                   width:100%;
                   padding:20px;
                    height: auto;
                    display: grid;
                    grid-template-columns: auto ;
                   gap:4px;
               }
                  .container img{
                     width:450px
                  }
                  .boxslide img {
                     width:150px;
                     object-fit: fill;
                  }
            }
              @media (max-width:950px)  {
                nav {
                   height: auto;
                  padding:  25px;
                }
                nav ul {
                  display: none;
                 }
                 
                   .display {
                    display: block;
                     transform: translateX(100%);
                     text-align: center;
                           
                     width:80%;
                     position: fixed;
                      background-color:white;
                       padding: 20px;
                       right: 0;
                       top:0;
                       z-index: 20;
                  height: 100%;
                   overflow-y: hidden;
                   overflow-x: hidden;
                   
                  
                    transition: 0.5s linear;

                   }
                     .display li  {
                        
                         text-align: center;
                          margin: 22px 0;
                            color:black;
                            font-size: 20px;
                             padding: 10px 12px;
                             list-style: none; 
                     }
                     .display li a{
                        text-decoration: none;
                         color: black;
                      }

                      .display li a:hover {
                          border-bottom: 2px solid  blue;
                          color: blue;
                      }

                           
                         #bars {
                           display: block;
                            position: absolute;
                            top:0;
                            right: 0;
                            
                            margin: 10px;
                            
                              font-size: 30px;
                              font-weight: bold;
                         }
                           .closecart {
                            position:fixed;
                            top:0;
                             right: 0;
                             font-size: 30px;
                             font-weight: bold;
                             margin: 4px;
                             
                          }
                          .closecart:hover {
                            background-color: red;
                            width: 40px;
                            text-align: center;
                          }
                           .newsletter {

                            padding: 1px;
                           }
                            .newsletter input {
                              margin:5px;
                              width:65%;
                            }
                             .newsletter button {
                               width:30%;
                             }
                             .inputbox {
                               width:90vw;
                             }
                             textarea {
                               width:90%;
                             }
                              .container img {
                                 width:240px;
                                 height: 450px;
                              }
                              .boxslide img {
                                height: 150px;
                                object-fit: fill;
                              }
                              .slidecontainer h1 {
                                font-size: 20px;
                              }
              }
            
    
